<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="game.neverwinter_nights-Enhanced-">
        <category id="main" label="30100">
            <group id="1">
                <setting id="startup_path" type="string" label="30101" help="">

                    <default>~/GOG Games/Neverwinter Nights Enhanced Edition/</default>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30101</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>